<!-- app/views/layouts/_navbar.html.erb -->
<header class="sticky top-0 z-50 flex w-full bg-white shadow-lg dark:bg-gray-800">
  <div class="flex flex-grow items-center justify-between px-4 py-4 md:px-6 2xl:px-11">
    <div class="flex items-center gap-2 sm:gap-4">
      <!-- Hamburger Toggle BTN -->
      <button class="block rounded-sm border border-gray-300 bg-white p-1.5 shadow-sm dark:border-gray-600 dark:bg-gray-800 lg:hidden">
        <span class="relative block h-5.5 w-5.5 cursor-pointer">
          <span class="block absolute right-0 h-full w-full">
            <span class="relative left-0 top-0 my-1 block h-0.5 w-full rounded-sm bg-black dark:bg-white"></span>
            <span class="relative left-0 top-0 my-1 block h-0.5 w-full rounded-sm bg-black dark:bg-white"></span>
            <span class="relative left-0 top-0 my-1 block h-0.5 w-full rounded-sm bg-black dark:bg-white"></span>
          </span>
        </span>
      </button>
      <!-- Hamburger Toggle BTN -->
    </div>

    <!-- Search Input -->
    <div class="relative flex-grow max-w-lg mx-auto">
      <input type="text" class="w-6/12 pl-10 pr-4 py-2 rounded-full bg-gray-100 focus:outline-none" placeholder="Search">
      <span class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400">
        <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
          <path d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1111.44 3.74l4.42 4.42a1 1 0 01-1.42 1.42l-4.42-4.42A6 6 0 012 8z" />
        </svg>
      </span>
    </div>
    <!-- Search Input -->

    <!-- Icons -->
    <div class="flex items-center space-x-4">
      <button class="focus:outline-none">
        <svg class="h-6 w-6 text-blue-500" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 2a7 7 0 017 7c0 1.85-.636 3.54-1.707 4.854A7.964 7.964 0 0110 16c-1.85 0-3.54-.636-4.854-1.707A7.964 7.964 0 012 9a7 7 0 018-7zM9 7a1 1 0 112 0v2a1 1 0 01-2 0V7zm1 9a1 1 0 110-2 1 1 0 010 2z" />
        </svg>
      </button>
      <button class="focus:outline-none">
        <svg class="h-6 w-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 2a7 7 0 017 7c0 1.85-.636 3.54-1.707 4.854A7.964 7.964 0 0110 16c-1.85 0-3.54-.636-4.854-1.707A7.964 7.964 0 012 9a7 7 0 018-7zM9 7a1 1 0 112 0v2a1 1 0 01-2 0V7zm1 9a1 1 0 110-2 1 1 0 010 2z" />
        </svg>
      </button>
      <button class="focus:outline-none">
        <svg class="h-6 w-6 text-blue-500" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 2a7 7 0 017 7c0 1.85-.636 3.54-1.707 4.854A7.964 7.964 0 0110 16c-1.85 0-3.54-.636-4.854-1.707A7.964 7.964 0 012 9a7 7 0 018-7zM9 7a1 1 0 112 0v2a1 1 0 01-2 0V7zm1 9a1 1 0 110-2 1 1 0 010 2z" />
        </svg>
      </button>
    </div>
    <!-- Icons -->
  </div>
</header>
