<header class="fixed top-0 left-0 z-50 w-full bg-white shadow-md">
  <div class="container mx-auto flex justify-between items-center p-4">
    <div class="flex items-center space-x-4">
      <%= link_to unauthenticated_root_path do %>
        <%= image_tag "logo.png", class: "w-24 h-6", alt: "CreditBake Logo" %>
      <% end %>
    </div>
    <nav class="hidden md:flex justify-center flex-1 space-x-6">
      <a href="#home" class="text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">Home</a>
      <a href="#about" class="text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">About</a>
      <a href="#pricing" class="text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">Pricing</a>
      <a href="#team" class="text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">Team</a>
      <a href="#contact" class="text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">Contact</a>
      <a href="#blog" class="text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">Blog</a>
    </nav>
    <div class="hidden sm:flex items-center space-x-4">
      <a href="<%= new_user_session_path %>" class="text-lg font-medium text-gray-700 hover-blue-text transition-colors duration-300">Sign In</a>
      <a href="<%= new_user_registration_path %>" class="px-6 py-2 text-lg font-medium text-white custom-blue rounded hover:bg-blue-600 transition-colors duration-300">Sign Up</a>
    </div>
  </div>
</header>




<script>
  document.addEventListener('DOMContentLoaded', function () {
    const sections = document.querySelectorAll('section');
    const navLinks = document.querySelectorAll('nav a');

    window.addEventListener('scroll', function () {
      let current = '';
      sections.forEach(section => {
        const sectionTop = section.offsetTop;
        const sectionHeight = section.clientHeight;
        if (pageYOffset >= sectionTop - sectionHeight / 3) {
          current = section.getAttribute('id');
        }
      });

      navLinks.forEach(link => {
        link.classList.remove('text-primary');
        if (link.getAttribute('href').includes(current)) {
          link.classList.add('custom-blue-text');
        }
      });
    });
  });
</script>
